
<div class="box">
   
	    <div class="con">
	
	    	<ui-view></ui-view>
	    </div>
	    
	    
	    <div class="com">
	    	<div class="lefts">
	    		<i class="iconfont">&#xe672;</i><br/>
	    		<i class="iconfont">&#xe671;</i><br/>
	    		<i class="iconfont">&#xe68e;</i><br/>
	    	</div>
	    	
	    	<div id="show"></div>
	    	
	    	<div class="rights">
	    		<i class="iconfont">&#xe644;</i><br/>
	    		<i class="iconfont">&#xe613;</i><br/>
	    		<i class="iconfont">100%</i><br/>
	    		<i class="iconfont">&#xe604;</i><br/>
	    	</div>
	    </div>
		
		<div class="footer">
			<ul>
				<li><i class="iconfont">&#xe680;</i><br/><a href="#!/one">消息</a></li>
				<li><i class="iconfont">&#xe8c5;</i><br/><a href="#!/two">联系人</a></li>
				<li><i class="iconfont">&#xe616;</i><br/><a href="#!/three">看点</a></li>
				<li><i class="iconfont">&#xe605;</i><br/><a href="#!/dong">动态</a></li>
			</ul>
			
			
		</div>
		
</div>