<div class="tongtai_sousuo">
	<span>账号</span>
</div>
<div class="tongtai_four">
	<div class="account">
			
		<span>登录后更多精彩</span>
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		立即登录
		</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header" style="padding: 10px;">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		×
		</button>
		<i></i>
		<h4 class="modal-title" id="myModalLabel">
		账号登录
		</h4>
		</div>
		<div class="inner-account">
					
					<div class="code">
						<p class="a">手机扫一扫</p>
						<img src="./img/IMG_0117.JPG"width="100" height="100" />
					</div>
					
					<form method="POST" name="form_login" target="_top">
						<div align="center" class="message">
							<p>快捷登录</p>
							<input style="outline:none;" type="text" name="name" id="username" required="required" placeholder="用户名" autocomplete="off" class="input_yh">
							<input style="outline:none;" type="password" name="pass" id="password" required="required" placeholder="密码" autocomplete="off" class="input_mm">
						</div>
						<dd>
							<div style="text-align: right;margin-right: 0 ;"><a>遇到登录问题</a></div>
						</dd>
						<div align="center" class="input" >
							<input type="submit" class="button" id="btn" title="Sign In" value="登录">
							 <input type="submit" class="button" id="btns" title="Sign In" value="注册">
						</div>
						
						<hr align="center"  style="margin: 10px;"/>
						<ul>
							<li>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-qq-copy-copy-copy-copy"></use>
								</svg>
							</li>
							<li>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-weixin"></use>
								</svg>
							</li>
							<li>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-xinlangweibo"></use>
								</svg>
							</li>
							<li>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-github-copy"></use>
								</svg>
							</li>
						</ul>
					</form>  
		</div>
	
		
		</div>
		</div>
		</div>
			
		
	</div>
	<div class="data">
		<ul>
			<li><p>动态</p><p class="font">0</p></li>
			<li><p>关注</p><p class="font">21</p></li>
			<li><p>粉丝</p><p class="font">999</p></li>
			<li><i class="iconfont">&#xe65c;</i><p class="qqq">我的资料</p></li>
		</ul>
	</div>
	<div class="gongge"></div>
	<div class="set">
		<ul>
			<li><i class="iconfont">&#xe60d;</i><span>我的消息</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe693;</i><span>会员中心</span></li>
			<li><i class="iconfont">&#xe66f;</i><span>音乐商城</span></li>
			<li><i class="iconfont">&#xe602;</i><span>在线免流量听歌</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe682;</i><span>设置</span></li>
			<li><i class="iconfont">&#xe6da;</i><span>扫一扫</span></li>
			<li><i class="iconfont">&#xe69e;</i><span>个性皮肤</span></li>
			<li><i class="iconfont">&#xe64e;</i><span>夜间模式</span></li>
			<li><i class="iconfont">&#xe636;</i><span>定时关闭</span></li>
			<li><i class="iconfont">&#xe604;</i><span>音乐闹钟</span></li>
			<li><i class="iconfont">&#xe650;</i><span>夜驾模式</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe62c;</i><span>分享音乐</span></li>
			<li><i class="iconfont">&#xe61f;</i><span>关于我们</span></li>
			<div class="gongge"></div>
			<li class="quit"><a href="#">退出登录</a></li>
		</ul>
	</div>
</div>



<script>
	
	
	
	    var btn = document.getElementById("btn");
		var btns = document.getElementById("btns");
		//创建数据库
		var data = openDatabase('stn','2.0','用户信息','1024*1024');
		//创建数据库
		data.transaction(function(ts){
			ts.executeSql('create table users(user_id,user_name,user_password)',[],function(re,data){
				console.log('创建成功');
			},function(er,mes){
				console.log('创建失败');
			});
		});
	
	btns.onclick = function(){      //    用户注册
				var name =  document.getElementById("username").value;
				var psd =  document.getElementById("password").value;
				data.transaction(function(ds){
					ds.executeSql("insert into users(user_name,user_password) values(?,?)",[name,psd],function(){
						alert("注册成功");
					});
				});
				
			}
			
			btn.onclick = function(){      //   用户登录的
				var name =  document.getElementById("username").value;
				var psd =  document.getElementById("password").value;
				data.transaction(function(ds){
					ds.executeSql("select * from users where user_name=?",[name],function(re,data){
						console.log(re);
						console.log(data);
						var data = data.rows[0];
						console.log(data);
						
						var resPassword = data.user_password;
						
						console.log(resPassword);	
						
						if(psd === resPassword){     //  登录成功了
							
							console.log("登录成功")
							location.href="http://127.0.0.1:8020/yinyueAPP/index.html";
						}else{
							alert('用户名或密码错误')
						}
					
					});
				});
			};
	
	
</script>
 
 <!--.scrollbar::-webkit-scrollbar         滚动条整体部分
 ::-webkit-scrollbar-thumb             滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
 ::-webkit-scrollbar-track      滚动条的轨道（里面装有thumb）
 ::-webkit-scrollbar-button      滚动条轨道两端的按钮，允许通过点击微调小方块的位置
 ::-webkit-scrollbar-track-piece    内层轨道，滚动条中间部分（除去）
 ::-webkit-scrollbar-corner     边角，及两个滚动条的交汇处
 ::-webkit-resizer       两个滚动条的交汇处上用于通过拖动调整元素大小的小控件-->
