
<div class="toubu_sousuo">
				<svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-tinggeshiqu-copy"></use>
                </svg>
            <div class="box">
			   <input type="text" class="txt" placeholder="搜索音乐、视频、歌词、电台" />
			   <a target="_blank" class="search">搜 歌</a>
			</div>
			
		        <svg class="icon" aria-hidden="true">
	                      <use xlink:href="#icon-yinpin-copy"></use>
	          	</svg>
</div>
		        

			
            <div class="music toubu_music">
			    <ul class="result"></ul>
		    </div>
		    
		    
<div class="toubu_one">	

	<!--导航-->
	<div class="navigation_one">
	 <ul>
		 	<li><a href="#">音乐</a></li>
		 	<li><a href="#">MV</a></li>
		 	<li><a href="#">电台</a></li>
		 </ul>
	</div>
	
	<!--轮播图-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>
	
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
		    <div class="item active">
			      <img src="./img/s5.jpg"  style="height: 180px; width: 100%;">
			      <div class="carousel-caption">
			      </div>
		    </div>
		    <div class="item">
			      <img src="./img/s1.jpg"  style="height: 180px; width: 100%;">
			      <div class="carousel-caption">
			      </div>
		    </div>
		    <div class="item">
			      <img src="./img/s6.jpg"  style="height: 180px; width: 100%;">
			      <div class="carousel-caption"></div>
		    </div>
	   
	  </div>
	  
	    <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	
	    <span class="sr-only">Next</span>
	  </a>
	
	</div>
	 
	 <!--推荐栏-->
  <div class="recommend_one">
  	<ul>
  		<li><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-lingxingsirenfm"></use>
          </svg>
          <p>私人FM</p>
  		</li>
  		<li>
  			<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-rili"></use>
          </svg>
  			<p>每日推荐</p>	
  		</li>
  		<li><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shouye_gedan_"></use>
          </svg>
          <p>歌单</p>
  		</li>
  		<li><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-paihangbang"></use>
          </svg>
          <p>排行榜</p>
  		</li>
  	</ul>
  </div>
   
   <!--推荐单歌-->
  <div class="single_one">
  	 <h5>推荐单歌</h5>
  	 <div class="time_one">
  	 	    <ul>
  	 	    	<li><img src="./img/k1.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/k2.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>58万</a><span>我幻想过和你所有的可能性</span></li>
  	 	    	<li><img src="./img/k3.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>90万</a><span>昔年一直忘不掉的那些时光</span></li>
  	 	    	<li><img src="./img/k4.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/k5.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0774.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0768.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0769.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0770.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0771.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0772.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0773.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/kk.jpg"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0775.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0776.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0777.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0778.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	<li><img src="./img/IMG_0779.JPG"/><a href="#"><img src="./img/erji.png" style="width: 15px;height: 23px;"/>102万</a><span>浪漫系梦中天堂的秋日暖阳</span></li>
  	 	    	

  	 	    </ul>
  	 </div>
  </div>



<script>
	$('.carousel').carousel({
  interval: 1500
 })
	
	
	
	
</script>

		<script type="text/javascript">
					
		
		$(function(){

			document.onkeyup=function(event){
			        var event=event||window.event;
			        if(event.keyCode==13){
			        load();
			        }
			};
			
			$(".search").on("click",load);
			$(".txt").on("keyup",load);
			
			function load(){
		                let kw = $('.txt')[0].value;
//		                console.log(kw);
		                let list=[];
                        $.ajax({
							type:"get",
							url:"https://c.y.qq.com/soso/fcgi-bin/search_for_qq_cp?g_tk=5381&uin=0&format=jsonp&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&w="+kw+"&zhidaqu=1&catZhida=1&t=0&flag=1&ie=utf-8&sem=1&aggr=0&perpage=30&n=30&p=1&_=1489396018874&jsonpCallback=_jsonpky20i0jqjfr",
							dataType:"jsonp",
							jsonp:"jsonpCallback",  //qq音乐
							async:true,
							success:function(data){
								list = list.concat(data.data.song.list)
						    }
					    });		                
                        $.ajax({
							type:"get",
							url:"https://c.y.qq.com/soso/fcgi-bin/search_for_qq_cp?g_tk=5381&uin=0&format=jsonp&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&w="+kw+"&zhidaqu=1&catZhida=1&t=0&flag=1&ie=utf-8&sem=1&aggr=0&perpage=30&n=30&p=2&_=1489396018874&jsonpCallback=_jsonpky20i0jqjfr",
							dataType:"jsonp",
							jsonp:"jsonpCallback",  //qq音乐
							async:true,
							success:function(data){
								list = list.concat(data.data.song.list)
//								console.log(list);
								$(".music")[0].style.display="block";
								$(".result").html("");
								for(var i=0;i<list.length;i++){
								    $(".result").append("<li class='"+list[i].songid+"'><p>"+list[i].songname+"</p><strong>"+list[i].singer[0].name+"</strong></li>")
								}

						    }
					    })
		    }
			
			function creatvideo(a){
				$("body i.videop").empty();
				$("body i.videop").append("<audio  class='videoplay toubu_video' controls='' autoplay='' loop='loop' name='media'></audio>");
				$(".videoplay").append("<source  src='http://ws.stream.qqmusic.qq.com/"+a+".m4a?fromtag=46' type='audio/mp4'>")
			}
			
			$(".result").on("click","li",function(){
				var songid = $(this)[0].className;
                creatvideo(songid);
			})
		})	
		</script>
		<script>
			$('.result').click(function(){
				$('.result').hide();
			});
			$('.txt').focus(function(){
				$('.result').show();
			});
			
			
		</script>
