<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
		<style>
			.color{
				width:50px;
				height: 50px;
				background: white;
				border: 1px solid #000;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<input type="range" min=0 max=255 v-model="r" />
			<input type="range" min=0 max=255 v-model="g" />
			<input type="range" min=0 max=255 v-model="b" />
			<p id="color" class="color" v-bind:style="{background:c}">
				
				   
			</p>
		</div>
		<script>
			  new Vue({
			  	el:"#app",
			  	data:{
			  		r:250,
			  		g:150,
			  		b:0,
			  		c:'white'
			  		
			  	},
			  	updated(){
			  		this.c=`rgb(${this.r},${this.g},${this.b})`
			  	}
			  	
			  	
			  })
			
		</script>
	</body>
</html>
